/* 
* @Author: Marte
* @Date:   2017-08-01 11:23:27
* @Last Modified by:   Marte
* @Last Modified time: 2017-08-12 09:07:17
*/
h1,h2,h3,h4,h5,h6,ul,body,p,div,{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
i{   position: absolute;
	background-image: url("../img/body精灵图.fw.png");
}
